<div class="categories-section sec-padding" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start"  class="p-0">
  <div fxFlex="100" fxFlex.gt-sm="50" class="left-section">
      <div class="item mb-15" >
        <div class="product">
          <img src="../../../assets/images/category1.png" alt="">
        </div>
        <div class="product-info">

        </div>
      </div>
      <div class="banerCo" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
          <div class="item mr-7 h" >
              <div class="product">
                  <img src="../../../assets/images/category2.png" alt="">
                </div>
                <div class="product-info">

                </div>
          </div>
          <div class="item ml-7 h" >
              <div class="product">
                  <img src="../../../assets/images/category3.png" alt="">
                </div>
                <div class="product-info">
                </div>
          </div>
      </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="50" class="right-section">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
          <div class="item mr-7 h" >
              <div class="product">
                  <img src="../../../assets/images/category4.png" alt="">
                </div>
                <div class="product-info">

                </div>
          </div>
          <div class="item ml-7 h" >
              <div class="product">
                  <img src="../../../assets/images/category5.png" alt="">
                </div>
                <div class="product-info">

                </div>
          </div>
      </div>
      <div class="item mt-15" >
          <div class="product">
            <img src="../../../assets/images/category6.png" alt="">
          </div>
          <div class="product-info">
              
          </div>
        </div>
    </div>
</div>
